---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/155?api_key=DONT_SHARE_MY_SECRET_KEY&append_to_response=reviews,credits,watch/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"b574561a142c747a747b14f7df0f47a8"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/dqK9Hag1054tghRQSqLSfrkvQnA.jpg","belongs_to_collection":{"id":263,"name":"The
        Dark Knight Collection","poster_path":"/ogyw5LTmL53dVxsppcy8Dlm30Fu.jpg","backdrop_path":"/xfKot7lqaiW4XpL5TtDlVBA9ei9.jpg"},"budget":185000000,"genres":[{"id":18,"name":"Drama"},{"id":28,"name":"Action"},{"id":80,"name":"Crime"},{"id":53,"name":"Thriller"}],"homepage":"https://www.warnerbros.com/movies/dark-knight/","id":155,"imdb_id":"tt0468569","origin_country":["US"],"original_language":"en","original_title":"The
        Dark Knight","overview":"Batman raises the stakes in his war on crime. With
        the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets
        out to dismantle the remaining criminal organizations that plague the streets.
        The partnership proves to be effective, but they soon find themselves prey
        to a reign of chaos unleashed by a rising criminal mastermind known to the
        terrified citizens of Gotham as the Joker.","popularity":156.344,"poster_path":"/qJ2tW6WMUDux911r6m7haRef0WH.jpg","production_companies":[{"id":429,"logo_path":"/2Tc1P3Ac8M479naPp1kYT3izLS5.png","name":"DC
        Comics","origin_country":"US"},{"id":923,"logo_path":"/8M99Dkt23MjQMTTWukq4m5XsEuo.png","name":"Legendary
        Pictures","origin_country":"US"},{"id":9996,"logo_path":"/3tvBqYsBhxWeHlu62SIJ1el93O7.png","name":"Syncopy","origin_country":"GB"},{"id":118865,"logo_path":null,"name":"Isobel
        Griffiths","origin_country":"GB"},{"id":174,"logo_path":"/zhD3hhtKB5qyv7ZeL4uLpNxgMVU.png","name":"Warner
        Bros. Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2008-07-16","revenue":1004558444,"runtime":152,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Mandarin","iso_639_1":"zh","name":"普通话"}],"status":"Released","tagline":"Welcome
        to a world without rules.","title":"The Dark Knight","video":false,"vote_average":8.516,"vote_count":32163,"reviews":{"page":1,"results":[{"author":"tricksy","author_details":{"name":"","username":"tricksy","avatar_path":null,"rating":null},"content":"Excellent
        movie. Best of the trilogy. Lovely music. Nolan is a genius. So is Heath Ledger.","created_at":"2015-06-09T07:21:30.464Z","id":"557693fac3a368569a003fab","updated_at":"2021-06-23T15:57:35.053Z","url":"https://www.themoviedb.org/review/557693fac3a368569a003fab"},{"author":"talisencrw","author_details":{"name":"","username":"talisencrw","avatar_path":null,"rating":10.0},"content":"This
        has no competition. It is the very finest comic-book character movie ever
        made. Knowing the Burton, Donner and Nolan filmic adaptations of Batman and
        Superman exist helps me to sleep at night. They are Exhibit A of ''How to
        Make a Comic-Book Movie''. Nothing else has ever come eve[...]
[...]
